* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
        
html { 
    font-size: 24px;
}
    
body { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; /* Set minimum height to cover the entire viewport */ 
    background-color: #496b7f; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
    
h1 { 
    font-size: 1.2rem; 
}
    
#btn { 
    height: 40px; 
    width: 14rem; 
    font-size: 0.85rem; 
}
    
.outputCars { 
    list-style: none; 
    padding: 0; display: 
    flex; flex-wrap: wrap;
    justify-content: center; 
}
    
.outputCars li { 
    margin: 10px; 
}
    
.outputCars img { 
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
}